@import "tailwindcss";

@font-face {
  font-family: "casino3dmarquee";
  src: url("../assets/font/casino3dmarquee-webfont.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-primary: #0088cc;
  --bg-primary65: #0088cca5;
  --bg-primary90: #0088cce6;
  --text-primary: #fff;
  --bg-secondary: #2c3e50;
  --bg-secondary70: #2c3e50b3;
  --bg-secondary85: #2c3e50d9;
  --text-secondary: #fff;
  --bg-aside-menu: #bbbbbb;
  --bg-lay: #faa9ba;
  --bg-back: #72bbef;
  --bg-casino-result: #355e3b;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
#root {
  width: fit-content;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.casino-text {
  font-family: "casino3dmarquee", sans-serif;
}